<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Register</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
    <div class="center">
      <h1>Login</h1>
      <form #loginForm="ngForm" name="singupForm" (ngSubmit)="loginForm.form.valid && userLogin(loginForm)">
        <div class="txt_field">
          <input type="email"  id="email"  name="email" [(ngModel)]="loginUser.email" ngModel [email]="true"  required>
          <span></span>
          <label>Enter Email</label>
          
        </div>
        <div class="txt_field">
          <input type="password"  id="password" name="password" minlength="5" [(ngModel)]="loginUser.password" required>
          <span></span>
          <label>Enter Password</label>
        </div>
        <!-- <div class="pass">Forgot Password?</div> -->
        <input type="submit" value="Login">
        <div class="signup_link">
          New user/admin? <a routerLink="/signup">Signup</a>
          </div>
          </form>
    </div>

  </body>
</html>
